/*Стиль фона*/
*{
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.close{
		font-weight: bold;
	  background: transparent;
    border: none;
    border-radius: 5px;
    color: #425263;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 8px;
    z-index: 2;
}
.taxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 77%;
	left: 50%;
	transform: translate(-50%, -77%);
	color: #19293a;
	text-align: center;
}
.taxx a{
	color: #21457b;
  text-decoration: underline;
}
.taxxxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 87%;
	left: 50%;
	transform: translate(-50%, -87%);
	color: #19293a;
	text-align: center;
}
.taxxxx a{
	color: #21457b;
  text-decoration: underline;
}
.blocktext{
	position: absolute;
	display: block;
	width: 200px;
	height: 50px;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
}
.blocktext h5{
	font-size: 28px;
	color: #19293a;
	font-weight: 400;
  text-align: center;
}
.modal{
	/*visibility: hidden;*/
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(33, 46, 97, 0.4);
}
/*Стиль окна*/
.modal-content{
	transition: all 200ms ease-in-out;
	visibility: hidden;
	background-color: #f3f4f7;
	margin: auto;
	padding: 20px;
	overflow-y: auto;
	/*border: 3px solid red;*/
	border-radius: 4px;
	width: 460px;
	height: 380px;
	z-index: 2;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0,-120%);
	/*position: fixed;*/
}

/*Класс Лейбла*/
.inputc{
	border-radius: 4px;
	display: block;
	height: 50px;
	width: 396px;
	position: absolute;
}

/*По дефолту рамка инпута*/
.clinp{
	border: 1px solid #c5ced8;
}

/*Классы свг*/
.svg1{
	position: absolute;
	display: inline-block;
	width: 120px;
	left:16%;
	top:92%;
	transform:translate(-16%,-92%);
}
.svg2{
	position: absolute;
	display: inline-block;
	width: 60px;
	left:39%;
	top:91%;
	transform:translate(-39%,-91%);
}
.svg3{
	position: absolute;
	display: inline-block;
	width: 80px;
	left:59%;
	top:91%;
	transform:translate(-59%,-91%);
}
.svg4{
	position: absolute;
	display: inline-block;
	width: 80px;
	left:82%;
	top:91%;
	transform:translate(-82%,-91%);
}

/*Подпись снизу*/
#the1{
	display: inline-block;
	position: absolute;
	top: 38%;
	left: 20%;
	transform: translate(-20%, -38%);
	color: #ff5c52;
	font-size: 13px;
}
#the2{
	display: inline-block;
	position: absolute;
	top: 53%;
	left: 22.5%;
	transform: translate(-22.5%, -53%);
	color: #ff5c52;
	font-size: 13px;
}
#the3{
	display: inline-block;
	position: absolute;
	top: 68%;
	left: 18%;
	transform: translate(-18%, -68%);
	color: #ff5c52;
	font-size: 13px;
}
#the4{
	display: inline-block;
	position: absolute;
	top: 68%;
	left: 74%;
	transform: translate(-46%, -68%);
	color: #ff5c52;
	font-size: 13px;
}
/*ID Лейбла*/
#num{
	top: 24.4%;
	transform: translate(-50%, -24.4%);
	left: 50%;
}
#numm{
	top: 44%;
	transform: translate(-50%, -44%);
	left: 50%;
}
#nummm{
	top: 62%;
	transform: translate(-14%, -62%);
	left: 14%;
	display: inline-block;
	width: 65px;
}
#nummmmm{
	top:62%;
	transform: translate(-30%, -62%);
	left: 30%;
	display: inline-block;
	width: 65px;
}
#nummmm{
	top:62%;
	transform: translate(-85.5%, -62%);
	left: 85.5%;
	display: inline-block;
	width: 80px;
}

.slesh{
	font-size: 40px;
	font-weight: 900;
	color: #506071;
	display: inline-block;
	position: absolute;
	top:62%;
	transform: translate(-24.5%, -62%);
	left: 24.5%;
}

/*ID span*/
#num1{
	left: 17px;
	display: block;
	position: absolute;
	top: 23%;
	/*transform: translate(28px, -21%);*/
	font-size: 16px;
	transition: 200ms ease-in-out;
	z-index: 1;
	color: #506071;
}
#num2{
	left: 17px;
	display: block;
	position: absolute;
	top: 23%;
	/*transform: translate(28px, -21%);*/
	font-size: 16px;
	transition: 200ms ease-in-out;
	z-index: 1;
	color: #506071;
}
#num3{
	left: 15px;
	display: block;
	position: absolute;
	top: 23%;
	/*transform: translate(28px, -21%);*/
	font-size: 21px;
	transition: 0.15s ease-in 0s;
	z-index: 1;
	color: #506071;
}
#num4{
	left: 17px;
	display: block;
	position: absolute;
	top: 23%;
	/*transform: translate(28px, -21%);*/
	font-size: 21px;
	transition: 0.15s ease-in 0s;
	z-index: 1;
	color: #506071;
}
#num5{
	left: 17px;
	display: block;
	position: absolute;
	top: 23%;
	/*transform: translate(28px, -21%);*/
	font-size: 21px;
	transition: 0.15s ease-in 0s;
	z-index: 1;
	color: #506071;
}



/*Эффект при нажатии*/
#num_num:focus ~#num1,#num_num:valid ~#num1{
	font-size: 15px;
    top: 14%;
	transform: translate(-11%, -14%);
	left: 28px;
}
#f:focus ~#num2,#f:valid ~#num2{
	font-size: 15px;
    top: 14%;
	transform: translate(-11%, -14%);
	left: 24px;
}
#mm:focus ~#num3,#mm:valid ~#num3{
	font-size: 16px;
    top: 14%;
	transform: translate(-11%, -14%);
	left: 22px;
}
#cvv:focus ~#num4,#cvv:valid ~#num4{
	font-size: 16px;
    top: 14%;
	transform: translate(-11%, -14%);
	left: 22px;
}
#yy:focus ~#num5,#yy:valid ~#num5{
	font-size: 16px;
    top: 14%;
	transform: translate(-11%, -14%);
	left: 22px;
}


/*Убирает стрелочки*/
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*ID input*/
#num_num{
	position: absolute;
	height: 50px;
	width: 396px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
	outline-color: black;
}
#f{
	position: absolute;
	height: 50px;
	width: 396px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
	outline-color: black;
}
#mm{
	position: absolute;
	height: 50px;
	width: 65px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;

}
#yy{
	position: absolute;
	height: 50px;
	width: 65px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;

}
#cvv{
	position: absolute;
	height: 50px;
	width: 80px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
}




/*кнопка*/
#button{
	border: none;
	background-color: #13aae5;
	cursor: pointer;
	color: white;
	text-align: center;
    text-decoration: none;
    font-size: 16px;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -65%);
	position: absolute;
}
@media (min-width: 470px) and (max-width: 601px){
	.taxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	color: #19293a;
	text-align: center;
}
	.taxxxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	color: #19293a;
	text-align: center;
}
	.blocktext{
	position: absolute;
	display: block;
	width: 200px;
	height: 50px;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
	}
	.blocktext h5{
		font-size: 24px;
		color: #19293a;
		font-weight: 400;
	  text-align: center;
	}
	.modal-content{
	transition: all 0.25s cubic-bezier(.10, .10, .72, .12) 0s;
	visibility: hidden;
	background-color: #f3f4f7;
	margin: auto;
	padding: 20px;
	overflow-y: auto;
	/*border: 3px solid red;*/
	border-radius: 4px;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0,-120%);
	/*position: fixed;*/
	}
	.inputc{
	border-radius: 4px;
	display: block;
	height: 50px;
	width: 450px;
	position: absolute;	
	}
	#num_num{
	position: absolute;
	height: 50px;
	width: 450px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
}
#f{
	position: absolute;
	height: 50px;
	width: 450px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
	text-transform: uppercase;
}
#num{
	top: 12%;
	transform: translate(-50%, -12%);
	left: 50%;
}
#numm{
	top: 22%;
	transform: translate(-50%, -22%);
	left: 50%;
}
#nummm{
	top: 62%;
	transform: translate(-12.5%, -62%);
	left: 12.5%;
	display: inline-block;
	width: 65px;
}
#nummmmm{
	top:62%;
	transform: translate(-36%, -62%);
	left: 36%;
	display: inline-block;
	width: 65px;
}
#nummmm{
	top:62%;
	transform: translate(-87%, -62%);
	left: 87%;
	display: inline-block;
	width: 80px;
}

.slesh{
	font-size: 40px;
	font-weight: 900;
	color: #506071;
	display: inline-block;
	position: absolute;
	top:62%;
	transform: translate(-27%, -62%);
	left: 27%;
}
.svg1{
	position: absolute;
	display: inline-block;
	width: 100px;
	left:16%;
	top:92%;
	transform:translate(-16%,-92%);
}
.svg2{
	position: absolute;
	display: inline-block;
	width: 50px;
	left:39%;
	top:91%;
	transform:translate(-39%,-91%);
}
.svg3{
	position: absolute;
	display: inline-block;
	width: 70px;
	left:59%;
	top:91%;
	transform:translate(-59%,-91%);
}
.svg4{
	position: absolute;
	display: inline-block;
	width: 70px;
	left:82%;
	top:91%;
	transform:translate(-82%,-91%);
}
#the4{
	display: inline-block;
	position: absolute;
	top: 68%;
	left: 65%;
	transform: translate(-24%, -68%);
	color: #ff5c52;
	font-size: 13px;
}
#the3{
	display: inline-block;
	position: absolute;
	top: 68%;
	left: 16%;
	transform: translate(-16%, -68%);
	color: #ff5c52;
	font-size: 13px;
}
#button{
	border: none;
	background-color: #13aae5;
	cursor: pointer;
	color: white;
	text-align: center;
    text-decoration: none;
    font-size: 16px;
	top: 32%;
	left: 50%;
	transform: translate(-50%, -32%);
	position: absolute;
}
}
@media (min-height: 790px) and (max-width: 469px){
	.modal-content{
	transition: all 0.25s cubic-bezier(.10, .10, .72, .12) 0s;
	visibility: hidden;
	background-color: #f3f4f7;
	margin: auto;
	padding: 20px;
	overflow-y: auto;
	/*border: 3px solid red;*/
	border-radius: 4px;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0,-120%);
	/*position: fixed;*/
	}
		.inputc{
	border-radius: 4px;
	display: block;
	height: 50px;
	width: 340px;
	position: absolute;	
	}
	#num_num{
	position: absolute;
	height: 50px;
	width: 340px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
}
#f{
	position: absolute;
	height: 50px;
	width: 340px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
	text-transform: uppercase;
}
.blocktext h5{
	font-size: 24px;
	color: #19293a;
	font-weight: 400;
  text-align: center;
}
#num{
	top: 11%;
	transform: translate(-50%, -11%);
	left: 50%;
}
#numm{
	top: 19%;
	transform: translate(-50%, -19%);
	left: 50%;
}
#button{
	border: none;
	background-color: #13aae5;
	cursor: pointer;
	color: white;
	text-align: center;
    text-decoration: none;
    font-size: 16px;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -28%);
	position: absolute;
}
.close{
		font-weight: bold;
	  background: transparent;
    border: none;
    border-radius: 5px;
    color: #425263;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 8px;
    z-index: 2;
}
.taxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
	color: #19293a;
	text-align: center;
}

.taxxxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -38%);
	color: #19293a;
	text-align: center;
}
}
@media (max-height: 789px) and (max-width: 469px){
		.modal-content{
	transition: all 0.25s cubic-bezier(.10, .10, .72, .12) 0s;
	visibility: hidden;
	background-color: #f3f4f7;
	margin: auto;
	padding: 20px;
	overflow-y: auto;
	/*border: 3px solid red;*/
	border-radius: 4px;
	width: 100%;
	height: 600px;
	z-index: 2;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0,-120%);
	/*position: fixed;*/
	}
		.inputc{
	border-radius: 4px;
	display: block;
	height: 50px;
	width: 330px;
	position: absolute;	
	}
	#num_num{
	position: absolute;
	height: 50px;
	width: 330px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
}
#f{
	position: absolute;
	height: 50px;
	width: 330px;
	font-size: 17px;
	padding-left: 17px;
	padding-top: 17px;
	border-radius: 4px;
	text-transform: uppercase;
}
.blocktext h5{
	font-size: 24px;
	color: #19293a;
	font-weight: 400;
  text-align: center;
}
#num{
	top: 17%;
	transform: translate(-50%, -17%);
	left: 50%;
}
#numm{
	top: 28%;
	transform: translate(-50%, -28%);
	left: 50%;
}
#button{
	border: none;
	background-color: #13aae5;
	cursor: pointer;
	color: white;
	text-align: center;
    text-decoration: none;
    font-size: 16px;
	top: 39%;
	left: 50%;
	transform: translate(-50%, -39%);
	position: absolute;
}
.close{
		font-weight: bold;
	  background: transparent;
    border: none;
    border-radius: 5px;
    color: #425263;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 8px;
    z-index: 2;
}
.taxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -48%);
	color: #19293a;
	text-align: center;
}

.taxxxx{
	position: absolute;
	display: block;
	width: 200px;
	height: 20px;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -52%);
	color: #19293a;
	text-align: center;
}
}